<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>http</title>
    <script src="angular.js"></script>

    <script src="bootstrap.js"></script>
    <script src="parentCtrl.js"></script>
    <script src="service.service.js"></script>
    <script src="value.service.js"></script>
    <script src="const.service.js"></script>

</head>
<body >
    <div ng-controller = "parentCtrl">

       

        <table border="1">
            <tr style="background:lightyellow ; padding: 10px">
                <th>UserID</th>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
            <p>search by id: <input ng-model="id.id"></p>
            <tr ng-repeat="todo in printItems[0] | filter:id">
           
                <td>{{todo.userId}}</td>
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.body}}</td>
            </tr>
        </table>

        <div>
    <br>
</body>
</html>