<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>Document</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="formCtrl.js"></script>
    <link rel = "stylesheet" type="text/css" href="style.css">
</head>
<body>
    <p>Hello World!</p>
    <h1>welcome</h1>
    <div ng-controller = "formCtrl">
        <p>Name : <input ng-model="person.name" type="text">{{person.name}}</p>
        <p>Age  : <input ng-model="person.age" type="number">{{person.age}}</p>
        <p>Password  : <input ng-model="person.password" type="password" >{{person.password}}</p style =>
        <input ng-model="person.gender" type="radio" name="gender" value="male" > Male<br>
        <input ng-model="person.gender" type="radio" name="gender" value="female" > Female<br>
        <input ng-model="person.gender" type="radio" name ="gender" value="other" > Other
    <br><br>

<select id="car">
        <option value="volvo">Volvo</option>
        <option value="Mitsubishi">Mitsubishi</option>
        <option value="Honda">Honda</option>
        <option value="Ford">Ford</option>
      </select>
      <br>

<br>
<input type="checkbox" id="vehicle1" value="Bike"> I have a bike<br>
<br>
    <button class = "name1"  ng-click="FormCtrl()">Click Me!</button>
</div>
</body>
</html>