<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>colors</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="angular.js"></script>

    <script src="bootstrap.js"></script>

    <script src="parentCtrl.js"></script>
</head>
<body >

    <div ng-controller="parentCtrl">

        <p>NAME : <input type="text" ng-model="name"></p>
        <p>EMAIL : <input type="text" ng-model="email"></p>
        <p>AGE : <input type="number" ng-model="age"></p>

        <p ng-class = "getClass()">Verification: {{status}}</p>
    </div>

    
    <br>
</body>
</html>